{% extends 'base.html' %} 
{% block content %}
<div class="overview py-2">
  <a class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#overview" href="#overview" role="button" aria-expanded="true" aria-controls="overview">
    <h1>Homework Overview</h1>
  </a>
  {% if uploaded == False %}
  <div class="collapse show" id="overview">
    <div class="lead">
      Implement a full-text retrieval tool (i.e. search engine) for a set of text documents. In other words, your system will be able to perform document retrieval according to specified keyword(s) and display in an easily visualization way. Also, the tool is able to calculate the document statistics (such as number of characters, number of words, number of sentences(EOS), etc.) and to determine how many sentences in documents using smart method (for example, rule-based approach). Computer languages are not restrictive.
    </div>
  </div>
  {% else %}
  <div class="collapse" id="overview">
    <div class="lead">
      Implement a full-text retrieval tool (i.e. search engine) for a set of text documents. In other words, your system will be able to perform document retrieval according to specified keyword(s) and display in an easily visualization way. Also, the tool is able to calculate the document statistics (such as number of characters, number of words, number of sentences(EOS), etc.) and to determine how many sentences in documents using smart method (for example, rule-based approach). Computer languages are not restrictive.
    </div>
  </div>
  {% endif %}
</div>
{% if uploaded == False %}
<div class="w-100 pt-3">
  <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Upload PubMed file</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" tabindex="-1">Upload twitter file</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
      <form method="post" action="fileUpload" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group">
          <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload file" name="files">
          <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04" value="upload">Submit</button>
        </div>
      </form>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
      <form method="post" action="fileUpload" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group">
          <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload file" name="files">
          <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04" value="upload">Submit</button>
        </div>
      </form>  
    </div>
  </div>
</div>
{% else %}
<div class="w-100">
  <h4 class="bg-danger title">Parsing Result</h4>
    <div class="row ">
      <div class="col-10">
        <div class="container-wrapper">
          <div ="container position-relative bottom-0">
            <div>
              {% load static %}
              <img src="{%static 'img/wordCloud.png' %}" class="wordcloud" alt="Word Cloud">
            </div>
            <div class="p-4">
              <form id="searchForm" action="javascript:search();"> 
                <div class="input-group"> 
                  <input type="text" id="searchItem" class="form-control" placeholder="keyword"> 
                  <button id="go" class="btn btn-outline-secondary" type="button" onclick="document.getElementById('searchForm').submit(); return false;">Search</button> 
                </div> 
              </form>
            </div>
            <samp id="targetText" style="text-align: justify">{{ content.text }}</samp>
          </div>
        </div>
      </div>
      <div class="col-2">
        <h4 class="statis">Statistics</h4>
        <p class="statistics">Words count</p>
        <p>{{ content.words }}</p>
        <p class="statistics">Characters count</p>
        <p>{{ content.chars }}</p>
        <p class="statistics">Sentences count</p>
        <p>{{ content.sentences }}</p>
        {% for word in content.word_list %}
          <span class="badge text-bg-success">{{ word }}</span>
        {% endfor%}
      </div>
    </div>
</div>
{% endif %}
{% endblock %}
