{% extends 'base.html' %} 
{% block content %}
<h1>Homework Overview</h1>
<p class="lead">
  Implement a full-text retrieval tool (i.e. search engine) for a set of text documents. In other words, your system will be able to perform document retrieval according to specified keyword(s) and display in an easily visualization way. Also, the tool is able to calculate the document statistics (such as number of characters, number of words, number of sentences(EOS), etc.) and to determine how many sentences in documents using smart method (for example, rule-based approach). Computer languages are not restrictive.
</p>
{% if uploaded == False %}
<div class="bd-example">
  <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Upload PubMed file</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" tabindex="-1">Upload twitter file</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
      <form method="post" action="fileUpload" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group">
          <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload file" name="files">
          <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04" value="upload">Submit</button>
        </div>
      </form>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
      <form method="post" action="fileUpload" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group">
          <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload file" name="files">
          <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04" value="upload">Submit</button>
        </div>
      </form>  
    </div>
  </div>
</div>
{% else %}
<div>
  <div class="row">
    <div class="col-10">
      <h3 class="rounded-pill bg-primary ">Parsing Result</h3>
      <p style="text-align: justify">{{ content.text }}</p>
    </div>
    <div class="col-2">
      <h3 class="rounded-pill bg-success ">Statistics</h3>
      <h5><u>Words count</u></h5>
      <p>{{ content.words }}</p>
      <h5><u>Characters count</u></h5>
      <p>{{ content.chars }}</p>
    </div>
  </div>
</div>
<div class="input-group mb-3">
  <span class="input-group-text">Search</span>
  <input type="text" class="form-control" placeholder="keyword" aria-label="keyword" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Submit</button>
</div>
{% endif %}
{% comment %} <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Input text</label>
  <textarea
    class="form-control"
    id="exampleFormControlTextarea1"
    rows="3"
  ></textarea>
</div>
<p class="lead">
  <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Submit</a>
</p> {% endcomment %}
{% endblock %}
