{% extends 'base.html' %} 
{% block content %}
<div class="overview py-2">
  <a class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#overview" href="#overview" role="button" aria-expanded="true" aria-controls="overview">
    <h1>Homework Overview</h1>
  </a>
  {% if uploaded == False %}
  <div class="collapse show" id="overview">
    <div class="lead">
      <p>First of all, implement the Zipf Distribution computation (or frequency spectrum for terms) for both a set of text documents from PubMed (and Tweeter as control group) with same subject. The size of text document sets could range from 10 to 50000, depends on your intention. You have to preprocess the text index (token) set from document collection. Secondly, implement the Porter’s algorithm as a functional module on your own software platform for the same set of text documents. Then, compare the difference.</p> 
      <p>In this project, basically your system or software platform will be able to compute text distribution from a set of documents. Match (or partial matching) process can be done using the dynamic programming-based Edit distance computation. Your retrieval results can be displayed in a format of indicating the location(s) and/or partial matching of the query keywords in each document, etc. Computer languages are not limited.</p>
    </div>
  </div>
  {% else %}
  <div class="collapse" id="overview">
    <div class="lead">
      Implement a full-text retrieval tool (i.e. search engine) for a set of text documents. In other words, your system will be able to perform document retrieval according to specified keyword(s) and display in an easily visualization way. Also, the tool is able to calculate the document statistics (such as number of characters, number of words, number of sentences(EOS), etc.) and to determine how many sentences in documents using smart method (for example, rule-based approach). Computer languages are not restrictive.
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}