{% extends 'base.html' %} 
{% block content %}
<div class="overview pt-0">
  <a class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#overview" href="#overview" role="button" aria-expanded="false" aria-controls="overview">
    <h1>Homework Overview</h1>
  </a>
  <div class="collapse" id="overview">
    <div class="lead">
      <p>First of all, implement the Zipf Distribution computation (or frequency spectrum for terms) for both a set of text documents from PubMed (and Tweeter as control group) with same subject. The size of text document sets could range from 10 to 50000, depends on your intention. You have to preprocess the text index (token) set from document collection. Secondly, implement the Porter’s algorithm as a functional module on your own software platform for the same set of text documents. Then, compare the difference.</p> 
      <p>In this project, basically your system or software platform will be able to compute text distribution from a set of documents. Match (or partial matching) process can be done using the dynamic programming-based Edit distance computation. Your retrieval results can be displayed in a format of indicating the location(s) and/or partial matching of the query keywords in each document, etc. Computer languages are not limited.</p>
    </div>
  </div>
</div>
<div class="w-100">
  {% if search == False %}
  <h4 class="bg-danger title">Zipf Distribution with/without using Porter Algorithm</h4>
  <div class="container-wrapper">
    <div class="container position-relative bottom-0 mt-1 text-center figure rounded">
      {% load static %}
      <div class="row row-cols-2">
        <div class="col my-2"><img src="{%static 'img/pubMed_zipf.png'%}" class="rounded distribution" alt="..."></div>
        <div class="col my-2"><img src="{%static 'img/twitter_zipf.png'%}" class="rounded distribution" alt="..."></div>
        <div class="col my-2"><img src="{%static 'img/pubMed_porter.png'%}" class="rounded distribution" alt="..."></div>
        <div class="col my-2"><img src="{%static 'img/twitter_porter.png'%}" class="rounded distribution" alt="..."></div>
      </div>
      <div class="row">
        <table class="table col">
          <thead>
            <tr>
              <th scope="col">PubMed</th>
              <th scope="col">Word</th>
              <th scope="col">Counts</th>
            </tr>
          </thead>
          <tbody>
            {% for key, value in pubmed %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ key }}</td>
              <td>{{ value }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <table class="table col">
          <thead>
            <tr>
              <th scope="col">Twitter</th>
              <th scope="col">Word</th>
              <th scope="col">Counts</th>
            </tr>
          </thead>
          <tbody>
            {% for key, value in tweet %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ key }}</td>
              <td>{{ value }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="btn-div mt-3">
    <a role="button" class="btn btn-primary mx-1" href="searchPubMed">Search for PubMed</a>
    <a role="button" class="btn btn-success mx-1" href="searchTwitter">Search for Twitter</a>
  </div>
  {% else %}
  <h4 class="bg-danger title">Article Content</h4>
  <div class="container-wrapper">
    <div class="container position-relative bottom-0 mt-1 text-center rounded">
      <div class="p-2" id="targetBox">
        <form id="searchNearestForm" action="javascript:searchNearest();"> 
          <div class="input-group"> 
            <input type="text" id="searchNearestItem" class="form-control" placeholder="keyword"> 
            <button id="go" class="btn btn-outline-secondary" type="button" onclick="document.getElementById('searchNearestForm').submit(); return false;">Search</button> 
          </div> 
        </form>
      </div>
      <samp id="targetNearestText" style="text-align: justify">{{ content }}</samp>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}