.container-wrapper{
    overflow: auto;
    width: 100%;
    height: 47vh;
    max-height: 53vh;
}
.container-wrapper::-webkit-scrollbar {
    display: none;
}
.title {
    line-height: 2.2rem;
    margin-top: 0.5em;
    border-radius: 0.3em;
}
.statis {
    line-height: 2.2rem;
    margin-top: 0.5em;
    border-radius: 0.3em;
}
.statistics {
    line-height: 1.8rem;
    font-size: medium;
    margin: 1rem auto 0.5rem auto;
    text-shadow: none;
    border-bottom: .2rem solid;
    border-bottom-color: #fff;
    /* background-color: rgb(255, 243, 205);
    color: black;
    border-radius: 1.5rem; */
}
.wordcloud {
    max-width: 85%;
    height: auto;
    margin: 1em auto;
}
.searchword {
    color: white;
    background-color: orange;
}
.badge {
    text-shadow: none;
    font-size: .8em;
}