{% extends 'base.html' %} 
{% block content %}
<div class="overview pt-0">
  <a class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#overview" href="#overview" role="button" aria-expanded="false" aria-controls="overview">
    <h2>Homework Overview</h2>
  </a>
  <div class="collapse" id="overview">
    <div class="lead">
      <p>In this project, you are asking to implement and analyze “term weighting” technology for text documents in the vector space before executing the Porter’s algorithm. At least 2~3 types of TF-IDF and/or modified TF-IDF methods, such as sentences or paragraphs are considered in this project. Then, you need to rank the documents based on similarity measure, in which you have to choose one reasonable ranking and similarity computation method.</p>
    </div>
  </div>
</div>
<div class="w-100">
  {% if search == False %}
  <h4 class="bg-danger title">Select TF-IDF mthod</h4>
  <div class="p-2">
    <form method="post" action="get_ranking" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="input-group justify-content-center"> 
        <div class="form-check">
          <input type="radio" class="btn-check" name="options" id="option1" value="1" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="option1">TF-IDF</label>
          <input type="radio" class="btn-check" name="options" id="option2" value="2" autocomplete="off">
          <label class="btn btn-outline-primary" for="option2">Log Frequency weighting</label>
          <input type="radio" class="btn-check" name="options" id="option3" value="3" autocomplete="off">
          <label class="btn btn-outline-primary" for="option3">Augmented Frequency weighting</label>
        </div>
        <div class="input-group my-3">
          <input type="text" id="searchWord" class="form-control" placeholder="keyword" name="words"> 
          <button class="btn btn-outline-secondary" type="submit">Search</button>  
        </div>
      </div>
    </form>
  </div>
  {% else %}
  <h4 class="bg-danger title">Search: {{ query }}</h4>
  <div class="p-2">
    <form method="post" action="get_ranking" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-check">
        <input type="radio" class="btn-check" name="options" id="option1" value="1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="option1">TF-IDF</label>
        <input type="radio" class="btn-check" name="options" id="option2" value="2" autocomplete="off">
        <label class="btn btn-outline-primary" for="option2">Log Frequency weighting</label>
        <input type="radio" class="btn-check" name="options" id="option3" value="3" autocomplete="off">
        <label class="btn btn-outline-primary" for="option3">Augmented Frequency weighting</label>
      </div>
      <div class="input-group my-3"> 
        <input type="text" id="searchWord" class="form-control" placeholder="keyword" name="words"> 
        <button class="btn btn-outline-secondary" type="submit">Search</button> 
      </div> 
    </form>
  </div>
  <div class="container-wrapper">
    <div class="container position-relative bottom-0 mt-2 rounded">
      <div class="row p-0 justify-content-center">
      {% for article in articles %}
          <div class="card text-start text-bg-light mb-3 p-0" style="width: 70em;">
            <div class="card-header text-bg-primary">{{ article.category }}</div>
            <div class="card-body">
              <h5 class="card-title">{{ article.title }}</h5>
              <h6 class="card-subtitle my-2 lead">Similarity: {{ article.similarity }}</h6>
              <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading{{artible.PMID}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{article.PMID}}" aria-expanded="false" aria-controls="flush-collapse{{article.PMID}}">
                    Full article...
                  </button>
                </h2>
                <div id="flush-collapse{{article.PMID}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{article.PMID}}" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">{{ article.content }}</div>
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}