{% extends 'base.html' %} 
{% block content %}
<div class="overview pt-0">
  <a class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#overview" href="#overview" role="button" aria-expanded="false" aria-controls="overview">
    <h2>Homework Overview</h2>
  </a>
  <div class="collapse" id="overview">
    <div class="lead">
      <p>In this project, you are asking to implement and analyze “term weighting” technology for text documents in the vector space before executing the Porter’s algorithm. At least 2~3 types of TF-IDF and/or modified TF-IDF methods, such as sentences or paragraphs are considered in this project. Then, you need to rank the documents based on similarity measure, in which you have to choose one reasonable ranking and similarity computation method.</p>
    </div>
  </div>
</div>
<div class="w-100">
  {% if search == False %}
  <h4 class="bg-danger title">Subject: cancer</h4>
  {% else %}
  <h4 class="bg-danger title">Subject: {{ subject }}</h4>
  {% endif %}
  <div class="p-2">
    <form method="post" action="getSimilar" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="input-group"> 
        <input type="text" id="searchWord" class="form-control" placeholder="keyword" name="words"> 
        <button class="btn btn-outline-secondary" type="submit">Search</button> 
      </div> 
    </form>
  </div>
</div>
{% endblock %}