<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Biomedical Information Retrieval</title>

    <link href="https://getbootstrap.com/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <meta name="theme-color" content="#712cf9">
  
    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{%static 'css/cover.css' %}" rel="stylesheet">
    <link href="{%static 'css/index.css' %}" rel="stylesheet">
    <link href="{%static 'css/hw2.css' %}" rel="stylesheet">
    <link href="{%static 'css/hw3.css' %}" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">  
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header>
        <div>
          <h3 class="float-md-start mb-0">Biomedical Information Retrieval</h3>
          <nav id="navContainer" class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="{% url 'hw1' %}">Project 1</a>
            <a class="nav-link fw-bold py-1 px-0" href="{% url 'hw2' %}">Project 2</a>
            <a class="nav-link fw-bold py-1 px-0" href="{% url 'hw3' %}">Project 3</a>
            <a class="nav-link fw-bold py-1 px-0" href="#">Project 4</a>
            <a class="nav-link fw-bold py-1 px-0" href="#">Project 5</a>
          </nav>
        </div>
      </header>

      <main class="px-3" style="margin: auto;">
      {% block content %}

      {% endblock %}
      </main>
      <footer class="text-white-50 position-absolute bottom-0 start-50 translate-middle-x">
        <hr>
        <p>© Jenny Liu</p>
      </footer>
    </div>
    <script src="{%static 'js/index.js' %}"></script>
    <script src="{%static 'js/hw2.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  </body>
</html>
